* {
  font-family: "Poppins", sans-serif;
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

#side-col {
  width: 22%;
  position: fixed;
}
#main-col {
  width: 78%;
}
#row-section {
  box-sizing: border-box;
}
/* Table screen */
@media only screen and(max-width:768px) {
  #row-section {
    display: none;
  }
}
