.backSide {
  background-color: #000;
  color: #fff;
  width: -webkit-fill-available;
  position: relative;
  right: 4%;
  height: 100vh;
}
#image {
  border-radius: 50% !important;
  width: 140px;
  position: relative;
  margin-top: 3.5vh;
  left: 54%;
  border: 9px solid lightgrey;
}
/*  name*/
.nameMy {
  font-size: 1.3rem;
  margin: 7px 40px;
  color: #fff;
}
#ulList {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 5%;
  font-size: 1.5rem;
  position: relative;
  right: 17%;
}
#ulList a {
  color: #fff !important;
}
.listItem1 {
  cursor: pointer;
  background-color: #1e3f56;
  position: relative;
  padding: 5px;
  border-radius: 50%;
  height: 6vh;
  width: 16%;
  left: 6%;
  margin-top: 8px;
  padding-left: 12px;
  padding-top: 2px;
}
#ulList :hover {
  background-color: #1aa0df;
}
.listSelect1 {
  list-style: none;
  margin-top: 5%;
}
.listSelect1 a {
  text-decoration: none;
  color: #fff;
}
.selectItem1 {
  margin: 5% 10%;
  font-size: 1.1rem;
}
#selectSec1 {
  margin-top: 10vh;
}
.aSection {
  padding-left: 20px;
  padding-top: 5px;
}
.icon {
  font-size: 1.5rem;
}
.para1F {
  text-decoration: none;
  padding-left: 7%;
  padding-top: 1%;
}
.lastItem1 {
  margin-top: 9vh;
  padding-left: 8vh;
  font-size: 1.1rem;
}
.para2T {
  padding-top: 4%;
}
.cursor {
  cursor: pointer;
}
.threeLine {
  font-size: 3rem;
}
#headerIcons {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
#close1 {
  float: right;
  font-size: 2.1rem;
  padding: 3px;
  margin: 6px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  background: #3f4142;
}
/* media  sections */

@media only screen and (max-width: 600px) {
  /* .backSide {
      display: none;
    } */
}

/* Table screen */
@media only screen and(max-width:768px) {
  .sideRow1 {
    width: 31vh !important;
    background-color: red;
  }
}
